channels==4.2.2
channels-redis==4.2.1  
daphne==4.2.0
Django==5.2.1
djangorestframework==3.16.0
drf-yasg==1.21.10
gunicorn==23.0.0
psycopg2-binary==2.9.10
python-dotenv==1.1.0
requests==2.32.3
redis==5.0.8
dj-database-url==2.2.0
mysqlclient==2.2.4 